<h2 mat-dialog-title>Olá!</h2>
<mat-dialog-content>
  <p>Publique o seu artigo na GenTech preenchendo os campos abaixo.</p>
  <!-- Formulário -->
  <form [formGroup]="criarArtigoForm" style="    display: flex;
  flex-direction: column;">
    <mat-form-field>
      <mat-label>Título</mat-label>
      <input formControlName="title" matInput required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Conteúdo</mat-label>
      <textarea formControlName="publicationContent" matInput required></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Categoria</mat-label>
      <input formControlName="category" matInput required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Capa do artigo</mat-label>
      <input placeholder="Insira a URL da imagem desejada" (change)="carregarImagem($event)" formControlName="coverImageUrl"
        matInput required>
    </mat-form-field>

    <!-- Seleção de foto do computador  -->
    <!-- <div style="margin-top: 16px; display: flex; flex-direction: column;">
      <label for="fileInput">Insira a capa do artigo:</label>
      <input type="file" id="fileInput" formControlName="coverImageUrl" (change)="processarImagem($event)" accept="image/*">
    </div> -->

    <div *ngIf="previaImagem" style="margin-top: 10px; text-align: center;">
      <img [src]="previaImagem" alt="Pré-visualização da imagem" style="max-width: 100%; max-height: 300px;">
    </div>
  </form>
</mat-dialog-content>
<!-- Botões  -->
<mat-dialog-actions style="display: flex; justify-content: center;">
  <button mat-button (click)="cancelarCriacao()">Cancelar</button>
  <button mat-button [disabled]="criarArtigoForm.invalid" (click)="criarArtigo()" cdkFocusInitial>Criar</button>
</mat-dialog-actions>
