<main class="forum-s">
    <section class="forum-s__corpo">
        <section class="forum-s__corpo__coment-p">
            <article>
                <h3 class="forum-s__corpo__coment-p__titulo">titulo</h3>
                <p class="forum-s__corpo__coment-p__texto">texto</p>
                <input type="text" placeholder="comente aqui">
            </article>
        </section>
        <section class="forum-s__corpo__coment-p__comentario">
            <article>
                <h5 class="forum-s__corpo__coment-p__comentario__titulo">titulo</h5>
                <p class="forum-s__corpo__coment-p__comentario__texto">texto</p>
                <button class="forum-s__corpo__coment-p__comentario__btn-comentar">comentar</button>
                <button class="forum-s__corpo__coment-p__comentario__btn-curtir">curtir</button>
            </article>
        </section>
    </section>
</main>