<app-navbar></app-navbar>

<main class="forum">
    <section class="forum__body">
        <section class="forum__body__comments">
            <article class="forum__body__comments__post">
                <div class="forum__body__comments__post-content">
                    <figure class="forum__body__comments__post-content__user-icon">
                      <img>
                    </figure>
                    <div class="forum__body__comments__post-content__text-section">
                        <header class="forum__body__comments__post-content__text-section__postagem">
                            <h2 class="forum__body__comments__post-content__title">titulo</h2>
                            <p class="forum__body__comments__post-content__text">Lorem Ipsum is simply dummy text of the
                                printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                text ever since the 1500s, when an unknown printer took a galle</p>
                        </header>
                        <div class="forum__body__comments__post-content__input">
                          <button *ngIf="!tokenService.usuarioAutenticado()">Faça login para participar da discussão!</button>
                          <input *ngIf="tokenService.usuarioAutenticado()" [formControl]="content" style="border: none; background: none; outline: 0; width: 100%;"
                            placeholder="Comente aqui">
                          <mat-icon (click)="comentarForum('nada')">send</mat-icon>
                        </div>
                    </div>
                </div>
            </article>
            <article class="forum__body__comments__comment">
                <div class="forum__body__comments__comment-content">
                    <figure class="forum__body__comments__comment-content__profile-image">
                      <img>
                    </figure>
                    <div class="forum__body__comments__comment-content__text-section">
                        <div>
                            <h5 class="forum__body__comments__comment-content__text-section__title">titulo</h5>
                            <p class="forum__body__comments__comment-content__text-section__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galle.</p>
                        </div>
                        <footer class="forum__body__comments__coment-content__text-section__comment-actions">
                            <button
                                class="forum__body__comments__comment-content__text-section__comment-actions__button-comment"><img
                                    src="../../../assets/icons/comentar.svg" alt="comentar"></button>
                            <button
                                class="forum__body__comments__comment-content__text-section__comment-actions__button-like"
                                (click)=curtir()>
                                <img [src]="likeImageSrc">
                            </button>
                        </footer>
                    </div>
                </div>

            </article>
        </section>
    </section>
</main>

<app-footer></app-footer>
