<main class="footer">
  <section class="footer__topicos">
    <figure class="footer__topicos__imagem">
      <img src="../../../assets/images/logotipo.svg">
      <p>GenTech</p>
    </figure>

    <div class="footer__topicos__texto">
      <h4>Recursos úteis</h4>
      <ul>
        <p><a routerLink="/home">Início</a></p>
        <p><a routerLink="/artigos">Artigos</a></p>
        <p><a routerLink="/forum">Fórum</a></p>
      </ul>
    </div>

    <div class="footer__topicos__texto">
      <h4>Fique conectado</h4>
      <ul>
        <p><a>Discord</a></p>
      </ul>
    </div>

    <div class="footer__topicos__texto">
      <h4>Contato</h4>
      <ul>
        <p><a>E-mail</a></p>
      </ul>
    </div>
  </section>
  <article class="footer__rodape">
    <p>© 2024 GenTech. Todos os direitos reservados.</p>
  </article>
</main>
