<app-navbar></app-navbar>
<main class="page-forum">
  <section>
    <!-- Botão de retorno  -->
    <div class="page-forum__return">
      <mat-icon (click)="retornarPagina()">keyboard_backspace</mat-icon>
      <button>Retornar</button>
    </div>

    <!-- Barra de Pesquisa -->
    <div class="page-forum__search">
      <h1>Fórum</h1>
      <div style="display: flex;">
        <input type="search" class="page-forum__search__input" placeholder="Buscar fórum..." />
        <button mat-mini-fab><mat-icon>arrow_drop_down</mat-icon></button>
      </div>
    </div>
  </section>

  <!-- Loading  -->
  <figure *ngIf="formularioCarregando" style="display: flex; justify-content: center; margin-top: 40px">
    <div class="custom-loader"></div>
  </figure>

  <!-- Conteúdo Principal -->
  <section class="page-forum__content">
    <!-- Postagem -->
    <div class="page-forum__content__post">
      <figure class="page-forum__content__post__imagem">
        <img>
      </figure>

      <article class="page-forum__content__post__forum">
        <h3 class="page-forum__content__post__forum__title">Título</h3>
        <p class="page-forum__content__post__forum__author">Nome do Usuário</p>
        <p class="page-forum__content__post__forum__preview">Prévia do conteúdo da postagem...</p>

        <div  class="page-forum__content__post__forum__comment-button">
          <button type="button">Comente aqui</button>
          <mat-icon>send</mat-icon>
        </div>
      </article>
    </div>
  </section>
</main>
<app-footer></app-footer>
