.page-forum {
  background-color: #dfebf2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5em;
  min-height: 100%;
  height: auto;

  &__return {
    display: flex;

    button {
      border: none;
      background: none;
      font-size: 16px;
      font-weight: 600;
      margin-left: 5px;
    }

    mat-icon {
      cursor: pointer;
    }
  }

  &__search {
    margin-top: 40px;

    h1 {
      font-size: 40px;
      margin-bottom: 20px;
    }

    button {
      border: none;
      border-radius: 25px;
      margin-left: 10px;

      background-color: #1c3b89;
      color: #ffffff;
    }

    &__input {
      padding: 0px 10px 0px 25px;
      width: 45vw;
      height: 40px;
      border-radius: 16px;
      border: 1px solid #e6e4f0;
      outline: none;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 90%;

    &__post {
      width: 55%;
      background-color: #356B8C;
      border-radius: 15px;
      cursor: pointer;

      &__imagem {
        img {
          border-radius: 15px;
          width: 100%;
        }
      }

      &__forum {
        background-color: #fffdfd;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.319);

        border-radius: 15px;
        padding: 1em;

        &__comment-button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: #F1F1F1;
          margin-top: 20px;
          border-radius: 15px;

          button {
            border: none;
          }
        }
      }
    }
  }
}

// Animação
.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #356b8c 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #356b8c);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn)
  }
}

.elevar {
  transition: transform 0.3s ease;
}

.elevar:hover {
  transform: translateY(-3px);
}
