<app-navbar></app-navbar>
<main class="page-forum">
  <section>
    <!-- Botão de retorno  -->
    <div class="page-forum__return">
      <mat-icon (click)="retornarPagina()">keyboard_backspace</mat-icon>
      <button>Retornar</button>
    </div>

    <!-- Barra de Pesquisa -->
    <div class="page-forum__search">
      <h1>Fórum</h1>
      <div style="display: flex;">
        <input type="search" (input)="filtrarInput($event)" class="page-forum__search__input"
          placeholder="Buscar fórum..." />
        <button *ngIf="tokenService.usuarioAutenticado()" (click)="publicarForum()"
          mat-mini-fab><mat-icon>add</mat-icon></button>
      </div>
    </div>
  </section>

  <!-- Loading  -->
  <figure *ngIf="formularioCarregando" style="display: flex; justify-content: center; margin-top: 40px">
    <div class="custom-loader"></div>
  </figure>

  <!-- Loading  -->
  <figure *ngIf="carregando" style="display: flex; justify-content: center; margin-top: 40px">
    <div class="custom-loader"></div>
  </figure>

  <!-- Conteúdo Principal -->
  <section class="page-forum__content">
    <!-- Postagem -->
    <div [ngClass]="['elevar', 'page-forum__content__post']" *ngFor="let forumLista of forunsFiltrados">
      <figure class="page-forum__content__post__imagem">
        <img>
      </figure>

      <article class="page-forum__content__post__forum">
        <div style="display: flex; justify-content: space-between;">
          <h3 class="page-forum__content__post__forum__title">{{ forumLista.title }}</h3>
          <mat-icon [matMenuTriggerFor]="menu" *ngIf="adminService.retornoAdmin()">more_vert</mat-icon>
        </div>

        <p class="page-forum__content__post__forum__author">{{ forumLista.author.fullName }}</p>
        <p class="page-forum__content__post__forum__preview">{{ forumLista.description }}</p>

        <div class="page-forum__content__post__forum__comment-button">
          <button *ngIf="!tokenService.usuarioAutenticado()">Faça login para participar da discussão!</button>
          <input *ngIf="tokenService.usuarioAutenticado()" [formControl]="content" style="border: none; background: none; outline: 0; width: 100%;"
            placeholder="Comente aqui">
          <mat-icon (click)="comentarForum(forumLista.slug)">send</mat-icon>
        </div>
      </article>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deletarForumSelecionado(forumLista.slug)">
          <mat-icon>delete</mat-icon>
          Excluir
        </button>
      </mat-menu>
    </div>
  </section>
</main>
<app-footer></app-footer>
