<app-navbar></app-navbar>

<main class="sobre">
  <h1 class="sobre__titulo">Sobre nós...</h1>
  <h2 class="sobre__subtitulo">#DreamTeam 🚀</h2>

  <section class="sobre__cards">
    <!-- Félix  -->
    <div class="sobre__cards__membro">
      <figure class="sobre__cards__membro__imagem">
        <img width="200px" src="assets/time/felicia.png">
      </figure>
      <h4 class="sobre__cards__membro__nome-membro">Felix</h4>
      <p class="sobre__cards__membro__funcao">Líder de projeto e Front-End</p>
      <a class="sobre__cards__membro__linkedin" href="https://www.linkedin.com/in/felix-tech/" target="_blank"
        rel="noopener noreferrer">
        <img width="35px" src="assets/icons/linkedin.svg" alt="LinkedIn">
      </a>
    </div>
    <!-- Gabriela   -->
    <div class="sobre__cards__membro">
      <figure class="sobre__cards__membro__imagem">
        <img width="200px" src="assets/time/gabriela.jpeg">
      </figure>
      <h4 class="sobre__cards__membro__nome-membro">Gabriela Diniz</h4>
      <p class="sobre__cards__membro__funcao">Líder do Front-End e Design</p>
      <a class="sobre__cards__membro__linkedin" href="https://www.linkedin.com/in/gabrieladnz/" target="_blank"
        rel="noopener noreferrer">
        <img width="35px" src="assets/icons/linkedin.svg" alt="LinkedIn">
      </a>
    </div>
    <!-- Leonardo  -->
    <div class="sobre__cards__membro">
      <figure class="sobre__cards__membro__imagem">
        <img width="200px" src="assets/time/leona.jpeg">
      </figure>
      <div>
        <h4 class="sobre__cards__membro__nome-membro">Leonardo Ferreira</h4>
        <p class="sobre__cards__membro__funcao">Líder do Back-End</p>
        <a class="sobre__cards__membro__linkedin" href="https://www.linkedin.com/in/ferreiiratech/" target="_blank"
          rel="noopener noreferrer">
          <img width="35px" style="margin-top: 20px;" src="assets/icons/linkedin.svg" alt="LinkedIn">
        </a>
      </div>
    </div>
    <!-- Gelsinha  -->
    <div class="sobre__cards__membro">
      <figure class="sobre__cards__membro__imagem">
        <img width="200px" src="assets/time/gelsinha.jpeg">
      </figure>
      <h4 class="sobre__cards__membro__nome-membro">Gerson Alves</h4>
      <p class="sobre__cards__membro__funcao">Líder da Redação e Back-End</p>
      <a class="sobre__cards__membro__linkedin" href="https://www.linkedin.com/in/gerson-alves-5a4191282/"
        target="_blank" rel="noopener noreferrer">
        <img width="35px" src="assets/icons/linkedin.svg" alt="LinkedIn">
      </a>
    </div>
    <!-- Nandinho cobra  -->
    <div class="sobre__cards__membro">
      <figure class="sobre__cards__membro__imagem">
        <img width="200px" src="assets/time/nandinho.jpeg">
      </figure>
      <h4 class="sobre__cards__membro__nome-membro">Fernando Leal</h4>
      <p class="sobre__cards__membro__funcao">Front-End</p>
      <a class="sobre__cards__membro__linkedin"
        href="https://www.linkedin.com/in/jos%C3%A9-fernando-leal-cruz-24622a284/" target="_blank"
        rel="noopener noreferrer">
        <img width="35px" style="margin-top: 20px;" src="assets/icons/linkedin.svg" alt="LinkedIn">
      </a>
    </div>
    <!-- Kayky  -->
    <div class="sobre__cards__membro">
      <figure class="sobre__cards__membro__imagem">
        <img width="200px" src="assets/time/kayky.jpeg">
      </figure>
      <h4 class="sobre__cards__membro__nome-membro">Kayky Arthur</h4>
      <p class="sobre__cards__membro__funcao">Back-End e Redator</p>
      <a class="sobre__cards__membro__linkedin" href="https://www.linkedin.com/in/kaykyarthur/?original_referer="
        target="_blank" rel="noopener noreferrer">
        <img width="35px" style="margin-top: 20px;" src="assets/icons/linkedin.svg" alt="LinkedIn">
      </a>
    </div>
    <!-- Pedro  -->
    <div class="sobre__cards__membro">
      <figure class="sobre__cards__membro__imagem">
        <img width="200px" src="assets/time/pedro.jpeg">
      </figure>
      <h4 class="sobre__cards__membro__nome-membro">Pedro Valadares</h4>
      <p class="sobre__cards__membro__funcao">Designer</p>
      <a class="sobre__cards__membro__linkedin" href="https://www.linkedin.com/in/pedro-lucas-valadares-ferreira/"
        target="_blank" rel="noopener noreferrer">
        <img width="35px" style="margin-top: 20px;" src="assets/icons/linkedin.svg" alt="LinkedIn">
      </a>
    </div>
    <!-- João  -->
    <div class="sobre__cards__membro">
      <figure class="sobre__cards__membro__imagem">
        <img width="200px" src="assets/time/joao.jpeg">
      </figure>
      <h4 class="sobre__cards__membro__nome-membro">João Vitor</h4>
      <p class="sobre__cards__membro__funcao">Administrador DBA e Redator</p>
      <a class="sobre__cards__membro__linkedin"
        href="https://www.linkedin.com/in/jo%C3%A3o-vitor-do-nascimento-5614a2186/" target="_blank"
        rel="noopener noreferrer">
        <img width="35px" src="assets/icons/linkedin.svg" alt="LinkedIn">
      </a>
    </div>

  </section>
</main>

<app-footer></app-footer>
