.form-forum {

  &__titulo {
    color: black;
    margin-bottom: 15px;
  }

  &__formulario {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  &__botoes {
    display: flex;
    justify-content: center;
  }
}
