<main class="page-cadastro">
  <section class="page-cadastro__introducao">
    <!-- Título  -->
    <h1 class="page-cadastro__introducao__titulo">Cadastre-se<br>E faça parte da nossa comunidade!</h1>
    <!-- Imagem  -->
    <figure class="page-cadastro__introducao__imagem">
      <img src="../../../assets/animations/figure-cadastro.svg">
    </figure>
  </section>

  <section class="page-cadastro__formulario">
    <figure>
      <img routerLink="/home" src="../../../assets/images/logotipo.svg">
    </figure>
    <h2 class="page-cadastro__formulario__titulo">Faça seu cadastro!</h2>
    <div class="page-cadastro__formulario__botao-avatar">
      <button mat-fab [matMenuTriggerFor]="menu">
        <img *ngIf="avatarSelecionado" src="{{ exibirAvatar(avatarSelecionado) }}.svg" alt="Avatar Selecionado"
          width="30" height="30">
        <mat-icon *ngIf="!avatarSelecionado">person_add</mat-icon>
      </button>
    </div>

    <!-- Menu avatar  -->
    <mat-menu class="page-cadastro__formulario__menu" #menu="matMenu">
      <mat-label style="font-weight: 600;">Escolha o seu avatar!</mat-label>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        <figure *ngFor="let numero of numerosAvatar" mat-menu-item (click)="selecionarAvatar(numero)">
          <img style="width: 55px;" src="{{ exibirAvatar(numero) }}.svg" alt="Avatar">
        </figure>
      </div>
    </mat-menu>

    <mat-error style="margin-bottom: 10px;" *ngIf="credenciaisInvalidas">
      <mat-icon>error</mat-icon>
      <h5>Dados de cadastro inválidos, verifique e tente novamente.</h5>
    </mat-error>

    <!-- Formulário  -->
    <form [formGroup]="cadastroForm" class="page-cadastro__formulario__campos-form">
      <mat-form-field color="accent">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" formControlName="fullName" required>
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>Usuário</mat-label>
        <input matInput placeholder="Usuário" formControlName="userName" required>
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="E-mail" formControlName="email" required>
        <mat-error style="font-weight: 600;" *ngIf="emailInput?.errors?.['pattern']">
          Por favor, insira um e-mail válido.
        </mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Senha" formControlName="password" [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
    </form>
    <!-- Botão cadastro  -->
    <footer class="page-cadastro__formulario__botao">
      <button [disabled]="cadastroForm.invalid" (click)="cadastrarUsuario()" mat-raised-button
        type="submit">CADASTRAR</button>
    </footer>
  </section>
</main>
