<div id="divBody">
    <div id="divCad">
        <div id="divImage">
            <img src="../../assets/images/do-utilizador.png">
            <h1>Crie uma conta</h1>
        </div>
        <div id="divCampos">
            <label id="labelNome" class="campos">
                <p>Nome completo</p>
                <input type="text" id="email">
            </label>
            <label id="labelNickName" class="campos">
                <p>Crie um nome de usuário</p>
                <input type="text" id="email">
            </label>
            <label id="labelEmail" class="campos">
                <p>Email</p>
                <input type="text" id="email">
            </label>
            <label id="labelSenha" class="campos">
                <p>Crie uma senha</p>
                <input type="text" id="email">
            </label>
        </div>
        <div id="divButtons">
            <button class="btnCad">Cadastrar</button>
            <button class="btnCad">Cancelar</button>
        </div>
    </div>
</div>
