<main class="page-cadastro">
  <section class="page-cadastro__introducao">
    <!-- Título  -->
    <h1 class="page-cadastro__introducao__titulo">Cadastre-se<br>E faça parte da nossa comunidade!</h1>
    <!-- Imagem  -->
    <figure class="page-cadastro__introducao__imagem">
      <img src="../../../assets/animations/figure-cadastro.svg">
    </figure>
  </section>

  <section class="page-cadastro__formulario">
    <h2>Faça seu cadastro!</h2>
    <!-- Formulário  -->
    <form class="page-cadastro__formulario__campos-form">
      <mat-form-field color="accent">
        <mat-label>Usuário</mat-label>
        <input matInput placeholder="Usuário" required>
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="E-mail" required>
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Senha" [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
    </form>
    <!-- Botão cadastro  -->
    <footer class="page-cadastro__formulario__botao">
      <button  mat-raised-button type="submit">CADASTRAR</button>
    </footer>
  </section>
</main>
