<main class="page-login">
  <!-- Título página -->
  <section class="page-login__apresentacao">
    <h1 class="page-login__apresentacao__titulo">Bem-vindo(a) de volta!
      Faça login para explorar nossa comunidade</h1>
    <figure class="page-login__apresentacao__imagem">
      <img>
    </figure>
  </section>

  <!-- Formulário  -->
  <section class="page-login__formulario">
    <h2 class="page-login__formulario__titulo">Acesse sua conta</h2>
    <p class="page-login__formulario__texto">E interaja em uma comunidade ativa na área da Inteligência Artificial.</p>

    <form class="page-login__formulario__campos-form">

    </form>
    <footer class="page-login__formulario__botao">
      <button>ENTRAR</button>
    </footer>
  </section>
</main>
