<main class="page-login">
  <!-- Título página -->
  <section class="page-login__apresentacao">
    <h1 class="page-login__apresentacao__titulo">Bem-vindo(a) de volta!<br>
      Faça login para explorar nossa comunidade</h1>
    <figure class="page-login__apresentacao__imagem">
      <img src="../../../assets/animations/figure-login.svg">
    </figure>
  </section>

  <!-- Formulário  -->
  <section class="page-login__formulario">
    <figure id="login-logo">
      <img routerLink="/home" src="../../../assets/images/logotipo.svg">
    </figure>
    <h2 class="page-login__formulario__titulo">Acesse sua conta</h2>
    <p class="page-login__formulario__texto">E interaja com uma comunidade ativa na área da Inteligência Artificial.</p>

    <mat-error *ngIf="credenciaisInvalidas">
      <mat-icon>error</mat-icon>
      <h5>Credenciais inválidas, verifique e tente novamente.</h5>
    </mat-error>

    <form [formGroup]="loginForm" class="page-login__formulario__campos-form">
      <mat-form-field color="accent">
        <mat-label>Usuário</mat-label>
        <input matInput placeholder="Usuário" formControlName="userName" required>
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Senha" formControlName="password" [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <p class="page-login__formulario__campos-form__cadastro">Não possui conta? <span
          routerLink="/cadastro">Cadastre-se</span></p>
    </form>
    <!-- Loading  -->
    <figure *ngIf="carregando" style="display: flex; justify-content: center; margin-top: 10px;">
      <div class="custom-loader"></div>
    </figure>

    <footer class="page-login__formulario__botao">
      <button [disabled]="loginForm.invalid" class="elevar" (click)="loginUsuario()" mat-raised-button type="submit">ENTRAR</button>
    </footer>
  </section>
</main>
