<app-navbar></app-navbar>
<main class="body-artigos">
  <section class="body-artigos__head">
    <div class="body-artigos__head__return">
      <mat-icon (click)="retornarPagina()">keyboard_backspace</mat-icon>
      <button>Retornar</button>
    </div>

    <div class="body-artigos__head__search">
      <h1>Artigos</h1>

      <div style="display: flex">
        <input
          type="search"
          (input)="filtrarInput($event)"
          class="body-artigos__head__search__input"
          placeholder="Buscar artigo..."
        />
        <button mat-mini-fab><mat-icon>arrow_drop_down</mat-icon></button>
      </div>
    </div>
  </section>

  <!-- Loading  -->
  <figure
    *ngIf="carregando"
    style="display: flex; justify-content: center; margin-top: 40px"
  >
    <div class="custom-loader"></div>
  </figure>
  <section
    *ngFor="let artigoListado of artigosFiltrados"
    class="body-artigos__lista-artigos"
  >
    <div class="body-artigos__lista-artigos__artigo">
      <figure
        class="body-artigos__lista-artigos__artigo__imagem"
        (click)="abrirArtigo(artigoListado)"
      >
        <img src="{{ artigoListado.coverImageUrl }}" />
      </figure>

      <article class="body-artigos__lista-artigos__artigo__postagem">
        <div>
          <button class="botao-categoria" mat-flat-button>{{ artigoListado.category?.name }}</button>
          <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
        </div>
        <h3 (click)="abrirArtigo(artigoListado)">{{ artigoListado.title }}</h3>
        <div
          style="
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
          "
        >
          <img
            width="40"
            height="60"
            src="{{ artigoListado.author.profilePhotoUrl }}"
          />
          <p style="font-weight: 600; margin-left: 5px; color: #356b8c;">{{ artigoListado.author.fullName }}</p>
        </div>
        <p (click)="abrirArtigo(artigoListado)">
          {{ artigoListado.publicationContent | slice : 0 : 400
          }}{{ artigoListado.publicationContent.length > 200 ? "..." : "" }}
        </p>
        <a (click)="abrirArtigo(artigoListado)">Ler mais...</a>
      </article>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editarArtigoSelecionado(artigoListado)">
          Editar
        </button>
        <button
          mat-menu-item
          (click)="deletarArtigoSelecionado(artigoListado.slug)"
        >
          Excluir
        </button>
      </mat-menu>
    </div>
  </section>
</main>
<app-footer></app-footer>
