<app-navbar></app-navbar>

<main class="artigo-selecionado">

  <!-- Loading  -->
  <figure *ngIf="carregando" style="display: flex; justify-content: center; margin-top: 40px">
    <div class="custom-loader"></div>
  </figure>

  <div *ngIf="!carregando" style="display: flex; flex-direction: column; align-content: center;">
    <section class="artigo-selecionado__introducao">
      <div class="artigo-selecionado__introducao__retornar">
        <button mat-icon-button (click)="retornarPagina()">
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <button (click)="retornarPagina()" style="cursor: pointer;">Retornar</button>
      </div>


      <div class="artigo-selecionado__introducao__categoria">
        <button mat-flat-button>{{ this.category }}</button>
        <p>{{ this.createAt | date: 'dd/MM/yyyy HH:mm' }}</p>
      </div>

      <h1>{{ this.title }}</h1>

      <div class="artigo-selecionado__introducao__autor">
        <figure class="artigo-selecionado__introducao__autor__perfil">
          <img src="{{ this.profilePhotoUrl }}">
        </figure>
        <article class="artigo-selecionado__introducao__autor__nome">
          <p>{{ this.author }}</p>
          <p style="color: #356b8c;">{{ this.username }}</p>
        </article>
      </div>
    </section>

    <section class="artigo-selecionado__texto">
      <figure class="artigo-selecionado__texto__imagem">
        <img src="{{ this.coverImageUrl }}">
      </figure>
      <article class="artigo-selecionado__texto__paragrafo">
        <markdown [data]="this.publicationContent"></markdown>
      </article>
    </section>
  </div>
</main>
<app-footer></app-footer>
