<app-navbar></app-navbar>
<main class="artigos">
    <!-- Background Principal -->
    <div class="artigos__background">
        <!-- Background do Topo -->
        <div class="artigos__background_topo">
        </div>
        <!-- Artigo Selecionado -->
        <article class="artigos__artigo-selecionado">
            <h3 class="artigos__titulo">Título</h3>
            <p class="artigos__autor">Nome do Autor</p>
            <div class="artigos__conteudo">
                <p>Descrição do artigo selecionado...</p>
            </div>
        </article>
    </div>
</main>
<app-footer></app-footer>
