.artigo-selecionado {
  min-height: 100%;
  height: auto;
  background-color: #DFEBF2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5em;

  h1 {
    font-size: 40px;
    margin-top: 20px;
  }

  &__introducao {

    &__retornar {
      display: flex;

      button {
        border: none;
        background: none;
        font-size: 16px;
        font-weight: 600;
        margin-left: 5px;
      }

      mat-icon {
        cursor: pointer;
      }
    }

    &__categoria {
      margin-top: 20px;
      display: flex;

      button {
        background-color: #2f2e2e80;
        color: #ffffff;
        height: 20px;
        font-size: 12px;
        border-radius: 25px;
        margin-bottom: 10px;
        margin-right: 10px;
      }
    }

    &__autor {
      display: flex;
      margin-top: 40px;
      align-items: center;

      &__perfil {
        margin-right: 10px;

        img {
          width: 40px;
          height: 60px;
        }
      }

      &__nome {
        font-weight: 600;
      }
    }
  }

  &__texto {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__imagem {
      margin-top: 30px;

      img {
        border-radius: 15px;
        width: 100%;
      }
    }

    &__paragrafo {
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      width: 900px;
    }

    p {
      text-align: justify;
    }
  }
}

@media screen and (max-width: 768px) {
  .artigo-selecionado__texto__paragrafo {
    width: auto;
  }
}

@media screen and (max-width: 375px) {
  .artigo-selecionado__introducao__categoria {
    button {
      height: auto;
    }
  }
}
