<h2 mat-dialog-title>Editar artigo</h2>
<mat-dialog-content>
  <!-- <p>Publique o seu artigo na GenTech preenchendo os campos abaixo.</p> -->
  <!-- Formulário -->
  <form [formGroup]="editarArtigoForm" style="    display: flex;
  flex-direction: column;">
    <mat-form-field>
      <mat-label>Título</mat-label>
      <input formControlName="title" matInput required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Conteúdo</mat-label>
      <textarea formControlName="publicationContent" matInput required=""></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Categoria</mat-label>
      <input formControlName="category" matInput required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<!-- Botões  -->
<mat-dialog-actions style="display: flex;
justify-content: center;">
  <button mat-button (click)="cancelarEdicao()">Cancelar</button>
  <button mat-button [disabled]="editarArtigoForm.invalid" (click)="editarArtigo()" cdkFocusInitial>Editar</button>
</mat-dialog-actions>
