.painel {
  padding: 2.5em;
  background-color: #dfebf2;
  height: 70%;

  &__titulo {
  }

  &__menu-geral {
    display: flex;
    justify-content: flex-start;
    gap: 20px;

    &__criar-publicacao,
    &__editar-perfil {
      margin-top: 20px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.319);
      border-radius: 10px;

      padding: 1em;
      background-color: #fffdfd;
    }

    &__editar-perfil {
    }

    &__criar-publicacao {
    }
  }
}
