<app-navbar></app-navbar>

<main class="painel">
  <h2 class="painel__titulo">Painel do administrador</h2>
  <section class="painel__menu-geral">
    <div class="painel__menu-geral__criar-publicacao">
      <h3>Criar publicação</h3>
     <mat-icon (click)="criarArtigo()">add_circle</mat-icon>
    </div>

    <div class="painel__menu-geral__editar-perfil">
      <h3>Criar administrador</h3>
      <mat-icon>person_add</mat-icon>
    </div>

    <div class="painel__menu-geral__editar-perfil">
      <h3>Editar meu perfil</h3>
      <mat-icon>border_color</mat-icon>
    </div>
  </section>
</main>

<app-footer></app-footer>
